.landing-page {
  background-color: #32317a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-page .overlap-wrapper {
  background-color: #32317a;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.landing-page .overlap {
  height: 1776px;
  left: -48px;
  position: relative;
  top: -344px;
  width: 2102px;
}

.landing-page .balls {
  height: 1084px;
  left: 0;
  position: absolute;
  top: 411px;
  width: 1082px;
}

.landing-page .overlap-group {
  height: 1084px;
  left: 48px;
  position: relative;
  width: 1034px;
}

.landing-page .ellipse {
  height: 716px;
  left: 0;
  position: absolute;
  top: 0;
  width: 853px;
}

.landing-page .div {
  background-color: #4300b233;
  border-radius: 218px/209px;
  height: 418px;
  left: 86px;
  position: absolute;
  top: 666px;
  width: 436px;
}

.landing-page .ellipse-2 {
  background-color: #4300b24c;
  border-radius: 218px/209px;
  height: 418px;
  left: 598px;
  position: absolute;
  top: 464px;
  width: 436px;
}

.landing-page .overlap-group-wrapper {
  height: 1084px;
  left: 1020px;
  position: absolute;
  top: 692px;
  width: 1082px;
}

.landing-page .overlap-2 {
  height: 1084px;
  position: relative;
}

.landing-page .img {
  height: 716px;
  left: 0;
  position: absolute;
  top: 0;
  width: 900px;
}

.landing-page .ellipse-3 {
  background-color: #4300b233;
  border-radius: 218px/209px;
  height: 418px;
  left: 134px;
  position: absolute;
  top: 666px;
  width: 436px;
}

.landing-page .ellipse-4 {
  background-color: #4300b24c;
  border-radius: 218px/209px;
  height: 418px;
  left: 646px;
  position: absolute;
  top: 464px;
  width: 436px;
}

.landing-page .div-wrapper {
  height: 1084px;
  left: 820px;
  position: absolute;
  top: 0;
  width: 1082px;
}

.landing-page .overlap-3 {
  height: 740px;
  position: relative;
  top: 344px;
}

.landing-page .ellipse-5 {
  height: 372px;
  left: 0;
  position: absolute;
  top: 0;
  width: 900px;
}

.landing-page .ellipse-6 {
  background-color: #4300b233;
  border-radius: 218px/209px;
  height: 418px;
  left: 134px;
  position: absolute;
  top: 322px;
  width: 436px;
}

.landing-page .ellipse-7 {
  background-color: #4300b24c;
  border-radius: 218px/209px;
  height: 418px;
  left: 646px;
  position: absolute;
  top: 120px;
  width: 436px;
}

.landing-page .text {
  height: 248px;
  left: 802px;
  position: absolute;
  top: 751px;
  width: 1027px;
}

.landing-page .overlap-4 {
  height: 248px;
  position: relative;
  width: 1023px;
}

.landing-page .text-wrapper {
  color: #ffffff;
  font-family: "Istok Web-Regular", Helvetica;
  font-size: 79px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 1023px;
}

.landing-page .p {
  color: #ffffff;
  font-family: "Istok Web-Regular", Helvetica;
  font-size: 49px;
  font-weight: 400;
  left: 127px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 93px;
  width: 769px;
}

.landing-page .button {
  all: unset;
  box-sizing: border-box;
  height: 77px;
  left: 1394px;
  position: absolute;
  top: 1066px;
  width: 252px;
}

.landing-page .overlap-5 {
  background-image: url(/public/images/rectangle-7.png);
  background-size: 100% 100%;
  height: 77px;
  position: relative;
  width: 250px;
}

.landing-page .text-wrapper-2 {
  color: #ffffff;
  font-family: "Istok Web-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 75px;
  left: 5px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 225px;
}

.landing-page .landing-page-girl {
  height: 849px;
  left: 200px;
  object-fit: cover;
  position: absolute;
  top: 575px;
  width: 602px;
}

.landing-page .nav {
  background-image: url(/public/images/rectangle-7.png);
  background-size: 100% 100%;
  height: 80px;
  left: 48px;
  position: absolute;
  top: 344px;
  width: 1920px;
}

.landing-page .nav-buttuns {
  height: 35px;
  left: 1381px;
  position: absolute;
  top: 23px;
  width: 520px;
}

.landing-page .text-wrapper-3 {
  color: #ffffff;
  font-family: "Istok Web-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 97px;
}

.landing-page .overlap-group-2 {
  height: 35px;
  left: 135px;
  position: absolute;
  top: 0;
  width: 234px;
}

.landing-page .text-wrapper-4 {
  color: #ffffff;
  font-family: "Istok Web-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 133px;
}

.landing-page .text-wrapper-5 {
  color: #ffffff;
  font-family: "Istok Web-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 131px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 103px;
}

.landing-page .text-wrapper-6 {
  color: #ffffff;
  font-family: "Istok Web-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 409px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 103px;
}

.landing-page .logo {
  height: 62px;
  left: 86px;
  position: absolute;
  top: 9px;
  width: 279px;
}
